body {
  background: rgb(235, 235, 235);
  color: rgb(66, 66, 66);
}
.container {
  width: 100%;
  max-width: 500px;
  margin: 80px auto;
  border-radius: 10px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}
button {
  background: rgb(60, 111, 252);
  color: white;
  font-weight: bold;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  font-family: sans-serif;
}
.home button:hover {
  background: rgba(43, 79, 179, 0.945);
}

.error {
  color: rgb(223, 53, 53);
  font-size: 12px;
  width: 80%;
  margin: 4px auto;
}
